<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="im.zoe.labs.flutter_floatwing">
<activity
     android:name=".MainActivity"
     android:exported="true"
     android:launchMode="singleTop"
     android:theme="@style/LaunchTheme"
 </activity>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>
